/* .container{ */
    border: 1px solid blue;
    display: flex;
    align-items: end;
    width: 906px;
    flex-wrap: wrap;
    margin-left: 50%;
}

/* [class^="flex-item"]{ */
    width: 300px;
    border: 1px solid green;
    height: 150px;
}


